html {
    /* width: 100%; */
    /* height: 100%; */
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

          /*  Header  */

.Hcontain {
  height: 850px;
} 

 .back {
  background-image: url("./images/nadya.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (max-device-width: 1024px) {
  .back {
    background-attachment: scroll;
  }
}

.inner {
  text-align: center;
  color: #eefbfb;
  height: auto;
  padding-top: 50px;
}

.Hh1 {
  font-size: 4em;
  margin-bottom: 200px;
}

.Hh2 {
  margin-bottom: 25px;
  font-family: "source sans pro", sans-serif;
  font-size: 2em;
  text-align: center;
  font-weight: 400;
}

.squeezeA {
  padding: 0px auto;
}

.move {
  position: relative;
  animation-name: intro;
  animation-duration: 4s;
}

@keyframes intro {
  from {opacity: 0;}
  to {opacity: 1;}
}

        /* About */

.Acontain {
  height: auto;
  background-color: #007cc7;
  padding: 20px;
}
        
.Mid {
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  text-align: center;
}        

.alt {
  padding: 0px;
}

.altA {
  height: 100%;
  margin: 40px auto 0px auto;
}
.icon {
	width: 50px;
	height: 50px;
	margin: 20px 0px; 
}

.squeeze {
	padding: 0px 30px;
}


.Mid h1::after {
	display: block;
  content: '';
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
  margin: 10px 0px 0px 0px;
	border-radius: 2px;
	background-color: black;
}

.img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
  clip-path: circle(35% at 50% 55%);
  object-fit: cover;
} 

.links {
  width: 50px;
  height: 50px;
}

.p1 {
  font-size: 15px;
  color: #eefbfb;
  /* background-color: rgba(0,0,0,0.5); */
}

.p2 {
  font-size: 15px;
}

a {
  color: black;
}

      /*  Projects  */

.Pcontain {
  height: auto;
  background-color:#4da8da;
  padding: 0px auto;
  padding-bottom: 75px;
  margin: 0px auto;
}

.project {
  padding-top: 60px;
}

.project h1::after {
	display: block;
  content: '';
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
  margin: 20px 0px 20px 0px;
	border-radius: 2px;
	background-color: black;
}

.card {
  margin: 10px auto;
  background-color: #203647;
  color: #eefbfb
}

.cardHeight {
  height: 250px;
}

.btn {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  padding: 10px;
  color: #eefbfb;
  border: 4px solid #eefbfb;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2 ease-out, color 0.2s ease ease-out;
}

      /* Carousel */

.Mcontain {
  background-color: #12232e;
  padding: 70px 0px;
}

.carousel-fade {
  transition: transform 3s ease, opacity .5s ease-out;
}

      /* Contact */

.Ccontain {
  height: 300px;
  background-color: #eefbfb;
}